h1, option, #submit, #error{
  text-align: center;
}

form, #job {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

#inputField{
  text-align: right;
}

form, #job, p input, select{
  width: 50%;
}

#submit{
  margin-top: 50px;
  margin-bottom: 30px;
}

#info, #detail{
  text-align: left;
}

#error{
  color: red;
}

#rating{
  text-align: right;
}

#jobTitle{
  font-weight: bold;
}